<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'addon.custommoyle.announcements' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher
        slot="fixed"
        (ionRefresh)="loadAnnouncements($event.target)">

        <ion-refresher-content />

    </ion-refresher>

    <ion-list>

        <ion-item
            *ngFor="let announcement of announcements"
            button
            detail="true"
            (click)="openAnnouncement(announcement.id)">

            <ion-icon
                slot="start"
                name="notifications-outline" />

            <ion-label>

                <h2>
                    {{ announcement.title }}
                </h2>

                <p>
                    {{ announcement.summary }}
                </p>

            </ion-label>

        </ion-item>

    </ion-list>

    <ion-item
        *ngIf="!loading && !announcements.length">

        <ion-label>
            No announcements found.
        </ion-label>

    </ion-item>

</ion-content>
